@model Petstaurant.Models.Order

@{
    ViewData["Title"] = "Details";
}
@if (Context.User.IsInRole("Customer"))
{
    <h1 class="text-warning">Your order has been received!</h1>
    <h3 class="text-warning">Your order number is #@Model.Id</h3>
    <h6 class="text-warning">Order pick-up time: @Convert.ToDateTime(Model.OrderTime.AddMinutes(30)).ToString("dd/MM/yyyy hh:mm tt")</h6>
}
@if (Context.User.IsInRole("Admin"))
{
    <h2 class="text-warning">Order number #@Model.Id</h2>
}
<div>
    <div>
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class=".marginB20px userName bottomLine">Order Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="text-Bottom-Margin">Store</p>
                                        <h6 class="text-color">@Html.DisplayFor(model => model.Store.City)</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-Bottom-Margin">Billing Address</p>
                                        <h6 class="text-color">@Html.DisplayFor(model => model.Address)</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="text-Bottom-Margin">Postal Code</p>
                                        <h6 class="text-color">@Html.DisplayFor(model => model.PostalCode)</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-Bottom-Margin">Phone Number</p>
                                        <h6 class="text-color">@Html.DisplayFor(model => model.PhoneNumber)</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="text-Bottom-Margin">Total Price</p>
                                        <h6 class="text-color">@Html.DisplayFor(model => model.TotalPrice)</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-Bottom-Margin">Order Time</p>
                                        <h6 class="text-color"> @Convert.ToDateTime(Model.OrderTime).ToString("dd/MM/yyyy hh:mm tt")</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Context.User.IsInRole("Customer"))
{
    <h4 class="text-warning" style=" background: rgba(0,0,0, 0.3);">Please take a screenshot of your order</h4>
}
    <div>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Price")
                    </th>
                    <th>
                        @Html.DisplayName("Quantity")
                    </th>
                    <th>
                        @Html.DisplayName("Dish Name")
                    </th>
                    <th>
                        @Html.DisplayName("Dish Image")
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderItems.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.OrderItems[i].Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.OrderItems[i].Quantity)
                        </td>
                        <td>
                            @foreach (Dish d in ViewBag.dishes)
                            {
                                @if (Model.OrderItems[i].DishId == d.Id)
                                {
                                    @if (d.Name != null)
                                    {
                                        @Html.DisplayName(d.Name)
                                    }
                                    break;
                                }
                            }
                        </td>
                        <td>
                            @foreach (Dish d in ViewBag.dishes)
                            {
                                @if (Model.OrderItems[i].DishId == d.Id)
                                {
                                    @if (d.Image != null)
                                    {
                                        string img = Convert.ToBase64String(d.Image);
                                        <img src="data:image/png;base64,@img" width="50" height="50" />
                                    }
                                    break;
                                }
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Context.User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Index" asp-controller="Orders" class="site-btn btn btn-warning job">Back</a>
        </div>

    }
    else
    {
        <div>
            <a asp-action="Index" asp-controller="Orders" class="site-btn btn btn-warning job">Back</a>
            <a asp-action="Index" asp-controller="Dishes" class="site-btn btn btn-warning job">Back to Menu</a>
        </div>
    }


    @section StyleSheets {
        <link rel="stylesheet" href="~/css/profile.css" />
    }
