@model IEnumerable<Petstaurant.Models.FoodGroup>

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

<p>
    <a asp-action="Create" style="color: #FFC107 !important;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
             
                <td>
                    <div class="container justify-content-end d-grid gap-1 d-md-flex">
                        <a class="fa bi bi-pen" asp-action="Edit" asp-route-id="@item.Id"></a>
                        <a class="fa bi bi-eye" asp-action="Details" asp-route-id="@item.Id"></a>
                        <a class="fa bi bi-trash" asp-action="Delete" asp-route-id="@item.Id"></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
