@model IEnumerable<Petstaurant.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a style="color: #FFC107 !important;" asp-action="Create">Create New</a>
</p>
<h3 style=" background: rgba(0,0,0, 0.3);">Dear Admin, To make new location page, please contact your web developer</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                <a class="fa bi bi-pen" asp-action="Edit" asp-route-id="@item.Id"></a>
                <a class="fa bi bi-eye" asp-action="Details" asp-route-id="@item.Id"></a> |
                <a class="fa bi bi-trash" asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
