@model Petstaurant.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<style>
    .container {
        background: rgba(0,0,0, 0.4) !important;
        font-family: "Poppins", sans-serif;
    }
</style>

<div class="container">
    <h1 class="text-warning">My Cart</h1>

    <form id="cart">
        <div>
            <dl class="row justify-content-center">
                <table id="tblId" class="table" style="width:100%;background:none!important;">
                    <thead>
                        <tr class="row">
                            <th style='text-align:center; vertical-align:middle' class="col-4 text-warning">Dish</th>
                            <th style='text-align:center; vertical-align:middle' class="col-2 text-warning">Quantity</th>
                            <th style='text-align:center; vertical-align:middle' class="col-2 text-warning">Price</th>
                            <th style='text-align:center; vertical-align:middle' class="col-4 text-warning"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CartItems != null)
                        {
                            @foreach (var ci in Model.CartItems)
                            {
                                <tr id="@ci.Id" class="row mt-3">
                                    <td class="dish col-4">
                                        <div class="row">
                                            <h5 style='text-align:center; vertical-align:middle' class="dishName text-warning">@ci.Dish.Name</h5>
                                            <h6 style='text-align:center; vertical-align:middle' class="dishPrice text-warning">@ci.Dish.Price₪</h6>
                                        </div>
                                    </td>
                                    <td class="quy-col col-2">
                                        <div style='text-align:center; vertical-align:middle' class="quantity">
                                            <a style='text-align:center; vertical-align:middle' asp-action="SubtractOne" asp-controller="Carts" asp-route-id="@ci.Id" class="sub quantity-btn col-1 text-warning">-</a>
                                            <input style='text-align:center; vertical-align:middle' id="ciQuantity" type="text" disabled class="qu-col col-2 " value="@ci.Quantity" />
                                            <a style='text-align:center; vertical-align:middle' asp-action="AddOne" asp-controller="Carts" asp-route-id="@ci.Id" class="add quantity-btn col-3 text-warning">+</a>
                                        </div>
                                    </td>
                                    <td class="total-col col-2">
                                        <h4 style='text-align:center; vertical-align:middle' class="ciPrice text-warning">@ci.Price₪</h4>
                                    </td>
                                    <td style='text-align:center; vertical-align:middle' class="remove col-3">
                                        <a style='text-align: center; vertical-align: middle; color: #FFC107 !important' asp-action="RemoveCartItem" asp-controller="Carts" asp-route-id="@ci.Id" class="remove fa bi bi-trash job"></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <td class="totalCart-col col-4">
                    <h4 id="toPrice" class="text-warning">Total Price: @Model.TotalPrice₪</h4>
                </td>
            </dl>
        </div>
    </form>

    <div>
        <a asp-action="Index" asp-controller="Dishes" class="site-btn btn btn-warning job">Back to menu</a>
        <a asp-action="ClearCart" asp-controller="Carts" class="clearCart site-btn btn btn-warning job">Empty your cart</a>
        <a asp-action="Create" asp-controller="Orders" class="site-btn btn btn-warning job">Proceed to checkout</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/cart.js"></script>
}

