@model IEnumerable<Petstaurant.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-warning">Account's List</h1>
<br />
<form asp-action="Search">

        <div class="row">
            <div class="col-3">
                <div class="p-1 input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">User Name</span>
                    <input id="queryUserName" name="queryUserName" placeholder="Enter User Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
                </div>
            </div>
            <div class="col-3">
                <div class="p-1 input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                    <input id="queryName" name="queryName" placeholder="Enter Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
                </div>
            </div>
            <div class="col-3">
                <div class="p-1">
                    <select class="form-select" name="selectType" aria-label=".form-select-sm example">
                        <option value=@null selected>Select User Type</option>
                        <option value="Customer">Customer</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="p-1">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </div>
</form>
<br />
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserName">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserName">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
