@model IEnumerable<Petstaurant.Models.User>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    <div class="container justify-content-center d-grid gap-1 d-md-flex">
                        <a class="fa bi bi-pen" asp-action="Edit" asp-route-id="@item.UserName"></a>
                        <a class="fa bi bi-eye" asp-action="Details" asp-route-id="@item.UserName"></a>
                        <a class="fa bi bi-trash" asp-action="Delete" asp-route-id="@item.UserName"></a>
                    </div>
                </td>
            </tr>
        }
